# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

DotkeMusic.xcodeproj/project.xcworkspace/xcuserdata/dotantamir.xcuserdatad/UserInterfaceState.xcuserstate

*.pyc
Report/
*.log

.idea
build
Pods

*.gcno
*.gcda

# Fastlane Snapshot
build/Screenshots/

slather/
DotkeMusic.xcworkspace/xcshareddata

test_output
